.container{
    margin-top: 2%;
}

.card1{
    position: relative;
}
h5.card-title{
    height: 10vh;
}
.card-text {

    display: -webkit-box;
    
    -webkit-line-clamp: 2; /* limit wrapiing to 2 lines */
    
    -webkit-box-orient: vertical;
    
    overflow: hidden;
    
    text-overflow: ellipsis;
    
    }


