<app-logout>
    
</app-logout>
<div class="container" >
    <div class="row">
        <div class="card col-lg-3 col-md-4 col-sm-6 col-12  " id="cards"  *ngFor="let mov of topRatedMovies?.results,let i = index">
            <img class="card-img-top" src={{mov.backdrop_path}}>
            <div class="card-body card1 ">
                <h5 class="card-title">{{mov.title}}</h5>
                <app-rating class="card-text rate rate-mar" [rating]="mov.vote_average" ></app-rating>
                <p class="card-text overview">{{mov.overview}}</p>
                <a [routerLink]="['./',mov.id] "class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>    
</div>
