.backdb{
    background-color: rgba(2, 2, 79, 0.95);
}
html{
    background-color: black;
    height: 100vmax;
}
.mgt-2{
    margin-top: 2%;
}
h1{
    color: rgb(243, 239, 8);
}
h4{
    font-size: larger;
    color: antiquewhite;
}

img{
    width: 50%;
    
}
small{
    opacity: 0.7;
    font-size: smaller;
}
h2{
    color: antiquewhite;
}
h3{
    color: antiquewhite;
}
li{
    font-size: larger;
    color: antiquewhite;
}
.half{
    width: 50%;
    margin-top: 3%;
}