
html{
    background-color: black;
    height: 100vmax;
}
.logout-bgc{
    background-color: black;
    height: 1%;
}

.mgt-2{
    margin-top: 2%;
}
h1{
    color: rgb(243, 239, 8);
}
h4{
    font-size: larger;
    color: antiquewhite;
}


small{
    opacity: 0.7;
    font-size: smaller;
}
h2{
    color: antiquewhite;
}
h3{
    color: antiquewhite;
}
li{
    font-size: larger;
    color: antiquewhite;
}
.half{
    width: 50%;
    margin-top: 3%;
}
